ruamel.yaml==0.16.10
requests==2.24.0
kubernetes==11.0.0
pytest==5.4.3
-e "git+https://github.com/CloudWebManage/cwm-worker-deployment.git@99c237e464da75337e30227d3552e6086d3e4596#egg=cwm-worker-deployment"
