ruamel.yaml==0.16.10
requests==2.24.0
kubernetes==11.0.0
pytest==5.4.3
click==7.1.2
-e "git+https://github.com/CloudWebManage/cwm-worker-deployment.git@5b9fe5f1b25ccb889f5aba0fde23d2b20757be56#egg=cwm-worker-deployment"
